/* font-family: 'Noto Sans KR', sans-serif; */
/* font-family: 'Titillium Web', sans-serif; */
/* font-family: 'Lato', sans-serif; */

.visual {  position: relative; background:url(../images/sub1_visual.jpg) 30% 30% no-repeat; width: 100%; height: 12.5rem;}


#content h3{text-shadow: none;}














#content .ceoMsgbox p:first-child{}


#content{}
#content .overview{}

#content .overview ul{}
#content .overview ul li{}

#content .overview ul li img{}

#content .overview ul li:nth-child(1){}
#content .overview ul li:nth-child(2){}
#content .overview ul li:nth-child(3){}


#content .overview ul li dl {}
#content .overview ul li dl dt{}
#content .overview ul li dl dd{}


#content .overview .overseas{}




#content .safety{ margin: 0 3.125%;}
#content .safetyInner{}
#content .safetySystem{}
#content .safetySystem p{line-height: 1.875rem; font-size: 1rem;}
#content .safetySystem ol{margin-bottom: 3rem;margin-left: 3%;}
#content .safetySystem ol li{ line-height: 1.875rem; font-size: 1rem;}
#content .safetySystem .safetySystemList li{list-style: decimal; margin-left: 7%;}
#content h4 {font-size: 1.25rem; font-weight: 500; letter-spacing: -0.03rem; margin: 3rem 0 1rem;}



  


#content .saftyCert{margin: 0 3.125%;background: #f5f5f5;border-radius: .9375rem;  }
#content .saftyCert .saftyCertBox{border-radius: .9375rem; border: .0625rem solid #333; display: flex; flex-direction: row;}
#content .saftyCert .saftyCertBox img {width: 50%; border-radius: .9375rem; }
#content .saftyCert .saftyCertBox dl {display: flex; justify-content: space-around; flex-direction: column; width: 50%;}
#content .saftyCert .saftyCertBox dt {text-align: center; margin-top: 3%; font-weight: 500;}
#content .saftyCert .saftyCertBox dd {margin: 5%; text-align: justify;}







