

#content {}
#content .network dl{overflow: hidden;}
#content .network dt{ text-align: center; font-size: 1.5625em; font-weight: 700; letter-spacing: -0.003em; width: 160px; margin: 0px 250px 0 20px; float: left; }
#content .network dd{ font-size: 1.125em; font-weight: normal; color: #666; width: 760px; float: left;}
#content .network span{text-align: center; font-weight: 500; font-size: 1.125em; color: #333; display: block; width: 100px; margin-right: 40px ;float: left;}

#content .network{}
#content .network .networkInner{}
#content .network .networkInner .networkTab{width: 100%;}
#content .network .networkInner .networkTab ul{padding-top: 10px; overflow: hidden;}


#content .network .map{}
/* #content .network .map .mapList{display: none;} */
#content .network .map .mapList dl dd:last-child{margin-top: 50px;}
#content .network .map .mapList .kakaoMap{border-radius: 40px; margin-top: 60px; width: 1200px; height: 580px;}
#content .network .map .mapList{}
/* #content .network .map .map01{display: block;} */
/* #content .network .map .mapList:target{display: block;} */


#content .network .map .mapList .address{margin-top: 70px; overflow: hidden;}
#content .network .map .mapList .address dl{ margin-bottom: 60px;}
#content .network .map .mapList .address dl dt{}
#content .network .map .mapList .address dl dd{}
#content .network .map .mapList .address dl dd span{margin-left: 13px; letter-spacing: 1.54em;}

#content .network .map .mapList .way{margin-bottom: 250px;}
#content .network .map .mapList .way dl{}
#content .network .map .mapList .way dl dt{letter-spacing: 0.20em;}
#content .network .map .mapList .way dl dd{}
#content .network .map .mapList .way dl dd:last-child{margin-left: 430px;}
#content .network .map .mapList .way dl dd span{}
#content .network .map .mapList .way dl dd .car{letter-spacing: 0.3em; margin-left: 2px;}






